[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "CodeGen/jsoncpp"]
	path = CodeGen/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "CodeGen/llvm"]
	path = CodeGen/llvm
	url = https://github.com/llvm-mirror/llvm.git
